.fas fa-check fa-lg{
  color:#bb00ff;
}

.mywrap_center{
  display: flex;
  flex-direction:row;
  margin:auto;
  padding-left: 15px;
}



.badge{
 width: 60px;
 max-height: 60px;
 border: none;
 background-repeat: no-repeat;
 background-size: cover;
}

#badge_internal_active{
background-image: url("badge_internal_active.png")
}

#badge_internal_inactive{
background-image: url("badge_internal_inactive.png")
}

#badge_external_active{
background-image: url("static/badge_external_active.png")
}

#badges{
background-image: url("static/badge_external_active.png")
}


#greybadge{

background-image: url("greybadge.png");

}
#internal_inactive{
  background-image: url("icons8-checkmark-24-internal-inactive.png");
  background-repeat: none;
  background-size: cover;
}
#internal_active{
  background-image: url("icons8-checkmark-24-internal-active.png");
  background-repeat: none;
  background-size: cover;
}
#external_active{
  background-image: url("static/icons8-checkmark-24-external-active.png");
  background-repeat: none;
  background-size: cover;
}

.divider{

width: 100%;
height: 8px;
background-color:#0055A4;
border: 0 none;
margin-top: 20px;
margin-bottom:20px;

}

.line{
  border-right:1px solid black;
}

.mylink{padding: 5px;
font-size: 14px;}

.mylink:any-link {
  color:black;
  height: fit-content;
}


#email{
    background-image: url("icons8-email-send-24.png");
  /*background-repeat: none;
  background-size: cover;
  border:none; */

}

footer{
  display: flex;
  flex-direction: row;
  font-size: 12px;
  color:black;
  padding-left:60px;
   padding-right:260px;
   /*font-family: Cambria,Georgia,serif; */

}
.attribution{
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    color:grey;
}
